body {
  background-image: url("/extra/pigbg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: 80%;

}

.head {
  display: flex;
  justify-content: center;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 60px;
  color: whitesmoke;
  text-shadow: 2px 2px salmon;
}

.whiteBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-left: 110px;
  width: 400px;
  height: 200px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px salmon;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 10px;
}

.type-Input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-style: none;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 15px;
  border: 0 none;
  overflow: hidden;
  outline: none;
  width: 200px;
  height: 150px;
  resize: none;
}

.btn {
  margin-left: 260px;
  padding: 0px;
}

.whiteBox2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 300px;
  width: 400px;
  height: 200px;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px salmon;
}

.type-Output {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  border-style: none;
  font-family: 'Mochiy Pop P One', sans-serif;
  font-size: 15px;
  border: 0 none;
  overflow: hidden;
  outline: none;
  width: 200px;
  height: 100px;
  resize: none;
}

.piggy {
  display: flex;
  flex-direction: row;
  height: 40px;
  margin: 80px;
  padding: 0px;
  transform: rotate(0deg);
}

.piggy:hover {
  animation: seesaw .5s forwards;
}

@keyframes seesaw {
  0% {
    transform: translateX(6px) rotate(3deg);
  }

  30% {
    transform: translateX(-6px) rotate(-3deg);
  }

  60% {
    transform: translateX(6px) rotate(3deg);
  }

  90% {
    transform: translateX(-6px) rotate(-3deg);
  }
}